.footer {
  background-color: #1f1f1f;
  color: #333;
  /* height: 400px; */
  padding: 40px;
  text-align: center;;
}

.footer p {
  font-size: 14px;
  margin: 0;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: whitesmoke;
  }
} 

a.call-us {
  text-decoration: none;
  color: white;
  transition: background-color 0.3s, border-radius 0.3s;
}

a.call-us:hover {
  background-color: #ff6f61;
  border-radius: 15px;
}

h4 {
  font-size: 26px;
  font-weight: bold;
}
